# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=bayer_payroll
DB_USERNAME=root
DB_PASSWORD=

# Mail Configuration
MAIL_HOST=localhost
MAIL_PORT=465
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=your_email@example.com
MAIL_FROM_NAME="B&W"

# Payroll App Configuration
PAYROLL_APP_URL=http://laravel.bayer-payroll.test/public/access_token
